.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  height: 13vh;
}

@media only screen and (width < 1000px) {
  .header {
    padding: 0rem 1.2rem;
    height: 11vh;
  }
}

.left-header {
  display: flex;
  align-items: center;
}

.header-logo-container {
  margin-right: 2.5rem;
  cursor: pointer;
}

.header-logo {
  height: 3rem;
}

.header-navbar {
  display: flex;
  align-items: baseline;
}

.navbar-menu, 
.navbar-rewards, 
.navbar-giftcards {
  margin-right: 1rem;
  font-family: var(--font-family-one);
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 13vh;
}

.navbar-menu:hover, 
.navbar-rewards:hover, 
.navbar-giftcards:hover {
  color: var(--green)
}

.navbar-rewards {
  border-bottom: 5px solid var(--green);
}

.right-header {
  display: flex;
  align-items: center;
  font-family: var(--font-family-one);
  font-size: 13px;
  font-weight: 600;
}

@media only screen and (width < 738px) {
  .header-stores {
    display: none;
  }
  .header-buttons {
    display: none;
  }
  .header-navbar {
    display: none;
  }
  .hamburger-button {
    display: fixed;
  }
}

@media only screen and (width >= 738px) {
  .hamburger-button {
    display: none;
  }
  .header-stores {
    display: flex;
  }
}

.hamburger-button {
  background: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.hamburger-button:hover {
  background: fixed;
  background-color: rgba(196, 196, 196, 0.185);
}

.hamburger {
  height: 2rem;
  width: 2rem;
}

.header-stores {
  align-items: center;
  cursor: pointer;
  margin-right: 2.5rem;
}

.header-stores:hover {
  color: var(--green);
}

.stores-icon {
  height: 1.5rem;
  margin-right: 0.2rem;
}

.signin-button {
  background: none;
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  font-weight: 500;
  font-family: var(--font-family-two);
  cursor: pointer;
  margin-right: 0.8rem;
}

.signin-button:hover {
  transition: 0.2s;
  background-color: rgba(186, 186, 186, 0.343);
}

.join-button {
  background-color: var(--black);
  padding: 0.4rem 1rem;
  border-radius: 100px;
  border: 1px solid black;
  font-weight: 500;
  font-family: var(--font-family-two);
  color: white;
  cursor: pointer;
}

.join-button:hover {
  transition: 0.2s;
  opacity: 0.75;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: var(--darkgreen);
  height: 5vh;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px rgba(59, 59, 59, 0.44);
  justify-content: space-between;
}

.sticky-header-title {
  padding: 0rem 8rem;
  color: white;
  font-family: var(--font-family-one);
  font-weight: 700;
  font-size: 13px;
}

.sticky-header-right {
  padding-right: 0.5rem;
}

.sticky-header-button {
  background: none;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0.3rem 0.6rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.sticky-header-button:hover {
  transition: 0.2s;
  background-color: rgb(4, 51, 4);
}

@media only screen and (width < 738px) {
  .sticky-header-title {
    padding: 0rem 1rem;
  }
  .sticky-header-right {
    display: fixed;
  }
}

@media only screen and (width >= 738px) {
  .sticky-header-right {
    display: none;
  }
}